# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
ENV/
.env

# Logs
*.log
price_update_log.txt

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints

# VS Code
.vscode/
